/* Bases pagina */
*{
padding: 0px;
margin: 0px;
}

body{
	font-family: arial;
	font-size: 13px;
	color: #68AA83;
	background: #095256;
}

.padre {
	width: 1250px;
	height: 700px;
	margin: auto;
	position: relative;
}

.totalmenu {
	width: 100%;
	height: 30px;
	background: #26362A;
	position: absolute;
	z-index: 11;
}

.menu {
	width: 800px;
	height: 30px;
	background: #26362A;
	position: absolute;
	z-index: 11;
}

.columna1{
	position: absolute;
	width: 250px;
	height: 670px;
	margin-top: 30px;
	padding-left: 10px;	
}

.columna2{
	position: absolute;
	background: #274046;
	margin-left: 280px;
	margin-top: 30px;
	width: 970px;
	height: 670px;
}


/* Menu */

.BotonMenu {
width: 280px;
height: 30px;
text-align: center;
color: white;
position: relative;
float: left;
z-index: 11;
padding-top: 7px;
}

.BotonMenu:HOVER{
width: 280px;
height: 23px;
text-align: center;
color: white;
position: relative;
background: #26362A;
z-index: 11;
padding-top: 7px;
}


/* Contenido Desplegable */
.desplegable{	
background: #087F8C;
width: 280px;
z-index: 10;
height: 670px;
position: absolute;
margin-top: 30px;
display: none;
}

.subMenu {
	position: relative;
	top: 50px;
	margin: 10px;
	color: white;
	text-align: center;
}

.imagen-logo {

	height: 170px;
	width: 170px;
	margin: auto;
	border-radius: 50%;
	position: relative;
    bottom:20px;
	
}
--ogo-empresa {
	
	height: 170px;
	width: 170px;
	margin: auto;
	border-radius: 50%;
	position: relative;
	
}

/* --

/* -------------------------- */
/* Inicio Contenido columna 1 */
/* -------------------------- */
.perfilCliente{	
width: 250px;
margin: auto;
height: 100%;
position: absolute;
}

.datosEmpresa {
	position: relative;
	top: 50px;
	margin-top: 15px;
	color: black;
	text-align: center;
}


/* ----------------------- */
/* Fin Contenido columna 1 */
/* ----------------------- */

/* -------------------------- */
/* Inicio Contenido columna 2 */
/* -------------------------- */

.ModificarDatos{
	margin: auto;
	height: 300px;
	width: 900px;
	position: relative;
	top: 20px;

}

.columna2 h3{
	text-align: left;
	color: orange;
}

.Casilla2-1 {
	float: left;
	margin: 20px;
	width: 180px;
	height: 20px;
}

.ModificarDatos2{
	
	margin: auto;
	width: 900px;
	position: relative;
	bottom: 30px;
	
}


.ModificarDatos3{
	top: 70px;
	right: 215px;
	margin: auto;
	width: 900px;
	position: relative;
	
}

.Casilla2-1Button{

	float: left;
	margin: 20px;
	width: 200px;
	height: 20px;
	
}

.Casilla2-2 {
	float: left;
	margin: 20px;
	width: 180px;
	height: 25px;
	position: relative;
	top: 20px;
}

.ModificarDatos2 h3{

color: orange;

}

.CasillaPersona{
	position: relative;
	width: 200px;
	height: 25px;
	background: #274046;
	color: white;
 	border: none;
    border-bottom: 2px solid white;

}

.droplist {
	position: relative;
	width: 200px;
	height: 30px;
	float: left;
	background: #274046;
	color: white;
	border: none;
	 border-bottom: 2px solid white;
}

.droplistPrincipal {
	position: relative;
	width: 860px;
	height: 40px;
	background-color: white;
	font-size: 14px;
    color: #095256;
	border: none;
	
}

.Casilla2-1Principal {
	float: left;
	margin: 20px;
	width: 860px;
	height: 20px;
	padding-bottom: 20px;

}


.SubmitTotal{

	margin: auto;
	top: 15px;
	position: relative;
	width: 200px;
	height: 30px;

}


.SubmitTotal2{

	margin: auto;
	top: 5px;
	position: relative;
	width: 415px;
	height: 40px;
	background: none;
    color: white;
    border: 2px solid orange;
    transition-duration: 0.4s;
    border-radius: 8px;
    font-size: 12px;


}

h2{
	color:orange;
}


.SubmitTotal2:Hover{

	margin: auto;
	top: 5px;
	position: relative;
	width: 415px;
	height: 40px;
	background: none;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    transition-duration: 0.4s;

}

.SubmitTotal:Hover{
	position: relative;
	width: 235px;
	height: 30px;
	background: #035E7B;
	color: white;
}


/* ----------------------- */
/* Fin Contenido columna 2 */
/* ----------------------- */




