/* Bases pagina */
*{
padding: 0px;
margin: 0px;
}

body{
	font-family: arial;
	font-size: 13px;
    color: #ffa500;
	background: #e4572e;
}

.padre {
	width: 1250px;
	height: 700px;
	margin: auto;
	position: relative;
}

.totalmenu {
	width: 100%;
	height: 30px;
	background: #7a2800;
	position: absolute;
	z-index: 11;
}

.menu {
	width: 1250px;
	height: 30px;
	background: #7a2800;
	position: absolute;
	z-index: 11;
}

.columna1{
	position: absolute;
	width: 250px;
	height: 670px;
	margin-top: 10px;
	padding-left: 10px;	
}

.columna2{
	position: absolute;
	background: #933600;
	margin-left: 280px;
	margin-top: 10px;
	width: 970px;
	height: 670px;
}


/* Menu */

.BotonMenu {
width: 280px;
height: 30px;
text-align: center;
color: white;
position: relative;
float: left;
z-index: 11;
padding-top: 7px;
}

.BotonMenu:HOVER{
width: 280px;
height: 23px;
text-align: center;
color: white;
position: relative;
background: #ffa500;
z-index: 11;
padding-top: 7px;
}


/* Contenido Desplegable */
.desplegable{	
background: #ffa500;
width: 280px;
z-index: 10;
height: 770px;
position: absolute;
margin-top: 30px;
display: none;
}



.subMenu {
	position: relative;
	top: 50px;
	margin: 10px;
	color: white;
	text-align: center;
}


/* -------------------------- */
/* Inicio Contenido columna 1 */
/* -------------------------- */
.perfilCliente{	
width: 250px;
margin: auto;
height: 100%;
position: absolute;
}

.datosEmpresa {
	position: relative;
	top: 50px;
	margin-top: 15px;
	color: black;
	text-align: center;
}


/* ----------------------- */
/* Fin Contenido columna 1 */
/* ----------------------- */

/* -------------------------- */
/* Inicio Contenido columna 2 */
/* -------------------------- */

.ModificarDatosd{
	margin: auto;
	height: 300px;
	width: 900px;
	position: relative;
	top: 10px;
    left:10px;
}

.ModificarDatos h2{
	text-align: center;
}

.Casilla2-1 {
	float: left;
	margin: 20px;
	width: 253px;
	height: 25px;
}

.ModificarDatos2{
	margin: auto;
	width: 900px;
    height: 200px;
	position: relative;
    top:10px;
    overflow:auto;
}

.Casilla2-2 {
	float: left;
	margin: 20px;
	width: 230px;
	height: 25px;
	position: relative;
	top: 20px;
}




.CasillaPersona{
	position: relative;
	width: 222px;
	height: 25px;
    top: 0px;
    left: 0px;

     background: none;
	color: white;
 	border: none;
    border-bottom: 2px solid white;
}

.droplist {
	position: relative;
	width: 230px;
	height: 30px;
	float: left;

        	background: none;
	color: white;
	border: none;
	 border-bottom: 2px solid white;
}

.SubmitTotalfactura{

	margin: auto;
	position: relative;
	width: 505px;
	height: 30px;
    top:18px;
    left:170px;
    background: none;
    color: white;
    border: 2px solid #ffa500;
    border-radius: 8px;
    transition-duration: 0.4s;

}

.SubmitTotalfactura:Hover{
	position: relative;
	width: 505px;
	height: 30px;
    left:170px;
	background: #035E7B;
	color: white;
     top:18px;

         background: none;
    color: white;
    border: 2px solid #f26419;
    border-radius: 8px;
    transition-duration: 0.4s;
}


/* ----------------------- */
/* Fin Contenido columna 2 */
/* ----------------------- */

.error{
    bottom:110px;
    right:270px;
    margin-bottom:5px;
    text-align:center;
    position:relative;
    display:none;
border-radius: 3px;
background: #fff;
color: #ce1818;
font-weight:bold;
padding-top: 3px;
padding-bottom: 3px;
}


