
/* Bases pagina */
*{
padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

body{
	font-family: arial;
	font-size: 13px;
}

.padre {
	width: 1250px;
	height: 700px;
	margin: auto;
	position: relative;
}

.totalmenu {
	width: 100%;
	height: 30px;
	background: #035E7B;
	position: absolute;
	z-index: 11;
}

.menu {
	width: 1250px;
	height: 30px;
	background: #035E7B;
	position: absolute;
	z-index: 11;
}

.columna1{
	position: absolute;
	width: 250px;
	height: 670px;
	margin-top: 30px;
	padding-left: 10px;	
}

.columna2{
	position: absolute;
	background: #E9ECF5;
	margin-left: 280px;
	margin-top: 30px;
	width: 970px;
	height: 670px;
}


/* Menu */

.BotonMenu {
width: 280px;
height: 30px;
text-align: center;
color: white;
position: relative;
float: left;
z-index: 11;
padding-top: 7px;
}

.BotonMenu:HOVER{
width: 280px;
height: 23px;
text-align: center;
color: white;
position: relative;
background: #55828b;
z-index: 11;
padding-top: 7px;
}


/* Contenido Desplegable */
.desplegable{	
background: #1C3144;
width: 280px;
z-index: 10;
height: 770px;
position: absolute;
margin-top: 30px;
display: none;
}

.imagen-logo {
	background: white;
	height: 150px;
	width: 150px;
	margin: auto;
	border-radius: 50%;
	position: relative;
	bottom: 10px;
}

.subMenu {
	position: relative;
	top: 50px;
	margin: 10px;
	color: white;
	text-align: center;
}


/* -------------------------- */
/* Inicio Contenido columna 1 */
/* -------------------------- */
.perfilCliente{	
width: 250px;
margin: auto;
height: 100%;
position: absolute;
}

.datosEmpresa {
	position: relative;
	top: 50px;
	margin-top: 15px;
	color: black;
	text-align: center;
}

.imagen-logo-empresa {
	background: blue;
	height: 150px;
	width: 150px;
	margin: auto;
	border-radius: 50%;
	position: relative;
	bottom: 30px;

}


/* ----------------------- */
/* Fin Contenido columna 1 */
/* ----------------------- */

/* -------------------------- */
/* Inicio Contenido columna 2 */
/* -------------------------- */

.listaFactura {
	width: 300px;
	text-align: left;
}

th{
	height: 20px;
}

td{
	height: 20px;
}

.contenedor{
	width: 800px;
	height: 480px;
	position: relative;
	margin: auto;
}

.listadoPersona {
	width: 800px;
	text-align: center;
}

.listadoPersona th{
	height: 20px;
	background: white;
	color: black;
	text-align: center;
}

.columna2 h3{
	margin-top: 30px;
}

.columna2 img{
	height: 30px;
}

.totales{
position: relative;
top: 30px;
background: #388697;
width: 800px;
text-align: left;
margin: auto;
}

.totales th{
	height: 20px;
	background: white;
	color: black;
	text-align: center;
}


/* ----------------------- */
/* Fin Contenido columna 2 */
/* ----------------------- */




.SubmitEnviar {
	width: 200px;
	height: 30px;
	position: relative;
	top: 40px;
	left: 480px;
	background: #035E7B;
	color: white;
	border-color: white;
}

.SubmitEnviar:Hover{
	width: 200px;
	height: 30px;
	position: relative;
	top: 40px;
	left: 480px;
	background: #5c9ead;
	color: white;
}
