/* Bases pagina */
*{
padding: 0px;
margin: 0px;
}

body{
	font-family: arial;
	font-size: 13px;
}


.casillaListado {
    overflow:auto;
    height:200px;
    width:850px;
    position:relative;
    margin:auto;
}

.padre {
	width: 1250px;
	height:  auto;
	position: relative;
    margin:auto;
}

.padre1 {
	width: 1250px;
	height: 30px;
	margin: auto;
	position: relative;
}



/* -------------------------- */
/* Inicio Contenido columna 1 */
/* -------------------------- */
.perfilCliente{	
width: 250px;
margin: auto;
height: 100%;
position: absolute;
}





/* ----------------------- */
/* Fin Contenido columna 1 */
/* ----------------------- */

/* -------------------------- */
/* Inicio Contenido columna 2 */
/* -------------------------- */

.listaFactura {

	width: 800px;
	margin: auto;
	text-align: center;
}

.columna2 h2{

	text-align: center;
	margin-top: 40px;
	margin-bottom: 10px;
}

.columna2 img{
	height: 30px;
}

.listaFactura th{
	background: #035E7B;
	color: white;
	height: 30px;
}

.listaFactura td{
	background: white;

	color: #035E7B;
	height: 30px;

}

/* ----------------------- */
/* Fin Contenido columna 2 */
/* ----------------------- */
