/* Bases pagina */
*{
padding: 0px;
margin: 0px;
}

body{
	font-family: arial;
	font-size: 13px;
    color: #ffa500;
	background: #e4572e;
}

.padre {
	width: 1250px;
	height: 700px;
	margin: auto;
	position: relative;
}

.totalmenu {
	width: 100%;
	height: 30px;
	background: #7a2800;
	position: absolute;
	z-index: 11;
}

.menu {
	width: 1250px;
	height: 30px;
	background: #7a2800;
	position: absolute;
	z-index: 11;
}

.columna1{
	position: absolute;
	width: 250px;
	height: 670px;
	margin-top: 30px;
	padding-left: 10px;	
}

.ModificarDatos{
	margin: auto;
	height: 600px;
	width: 900px;
	position: relative;
	top: 10px;
    left:10px;
    overflow:auto;
    
}

.columna2{
	position: absolute;
	background: #933600;
	margin-left: 280px;
	margin-top: 30px;
	width: 970px;
	height: 670px;
}


/* Menu */

.BotonMenu {
width: 280px;
height: 30px;
text-align: center;
color: white;
position: relative;
float: left;
z-index: 11;
padding-top: 7px;
}

.BotonMenu:HOVER{
width: 280px;
height: 23px;
text-align: center;
color: white;
position: relative;
background: #ffa500;
z-index: 11;
padding-top: 7px;
}


/* Contenido Desplegable */
.desplegable{	
background: #ffa500;
width: 280px;
z-index: 10;
height: 770px;
position: absolute;
margin-top: 30px;
display: none;
}



.subMenu {
	position: relative;
	top: 50px;
	margin: 10px;
	color: white;
	text-align: center;
}


/* -------------------------- */
/* Inicio Contenido columna 1 */
/* -------------------------- */
.perfilCliente{	
width: 250px;
margin: auto;
height: 100%;
position: absolute;
}

.datosEmpresa {
	position: relative;
	top: 50px;
	margin-top: 15px;
	color: black;
	text-align: center;
}

/* ----------------------- */
/* Fin Contenido columna 1 */
/* ----------------------- */

/* -------------------------- */
/* Inicio Contenido columna 2 */
/* -------------------------- */

.listaFactura {

	width: 800px;
	margin: auto;
	text-align: center;
}

.columna2 h2{

	text-align: left;
	margin-top: 40px;
	margin-bottom: 10px;
}

.columna2 img{
	height: 30px;
}

.listaFactura th{
	background: #035E7B;
	color: white;
	height: 30px;
}

.listaFactura td{
	background: white;

	color: #035E7B;
	height: 30px;

}

/* ----------------------- */
/* Fin Contenido columna 2 */
/* ----------------------- */
