
/* Menu */

.BotonMenu {
width: 280px;
height: 30px;
text-align: center;
color: white;
position: relative;
float: left;
z-index: 11;
padding-top: 7px;
}

.BotonMenu:HOVER{
width: 280px;
height: 23px;
text-align: center;
color: white;
position: relative;
background: #26362A;
z-index: 11;
padding-top: 7px;
}


/* Contenido Desplegable */
.desplegable{	
background: #087F8C;
width: 280px;
z-index: 10;
height: 670px;
position: absolute;
margin-top: 30px;
display: none;
}




/* -------------------------- */
/* Inicio Contenido columna 1 */
/* -------------------------- */
.perfilCliente{	
width: 250px;
margin: auto;
height: 100%;
position: absolute;
}

.datosEmpresa {
	position: relative;
	top: 50px;
	margin-top: 15px;
	color: white;
	text-align: center;
}



/* ----------------------- */
/* Fin Contenido columna 1 */
/* ----------------------- */

/* -------------------------- */
/* Inicio Contenido columna 2 */
/* -------------------------- */

.ModificarDatos{
	margin: auto;
	height: 300px;
	width: 900px;
	position: relative;
	top: 20px;

}

.columna2 h3{
	text-align: left;
	color: orange;
}

.Casilla2-1 {
	float: left;
	margin: 20px;
	}

.ModificarDatos2{
	
	margin: auto;
	width: 900px;
	position: relative;
	bottom: 30px;
	
}


.ModificarDatos3{
	
	top: 10px;
	height:150px;
	width: 900px;
	position: relative;
	float: left;
	left: 30px;

	
}

.Casilla2-1Button{

	float: left;
	margin: 20px;
	width: 100px;
	height: 20px;
	
}

.Casilla2-2 {
	float: left;
	margin: 20px;
	width: 180px;
	height: 25px;
	position: relative;
	top: 20px;
}

.ModificarDatos2 h3{

color: orange;

}

.CasillaPersona{
	position: relative;
	width: 200px;
	height: 25px;
	background: #274046;
	color: white;
 	border-bottom: 2px solid white;
    top: 0px;
    left: 0px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
}

.droplist {
	position: relative;
	width: 200px;
	height: 30px;
	float: left;
	background: #274046;
	color: white;
	border: none;
	 border-bottom: 2px solid white;
}

.droplistPrincipal {
	position: relative;
	width: 420px;
	height: 40px;
	background-color: white;
	font-size: 14px;
    color: #095256;
	border: none;
	
}

.Casilla2-1Principal {
	float: left;
	margin: 20px;
	width: 400px;
	height: 20px;
	padding-bottom: 20px;

}


.SubmitTotal{

	margin: auto;
	top: 15px;
	position: relative;
	width: 200px;
	height: 30px;

}


.SubmitTotal2{

	
	top: 5px;
	width: 200px;
	height: 40px;
	background: none;
    color: white;
    border: 2px solid orange;
    transition-duration: 0.4s;
    border-radius: 8px;
    font-size: 12px;


}

h2{
	color:orange;
}


.SubmitTotal2:Hover{

	margin: auto;
	top: 5px;
	width: 200px;
	height: 40px;
	background: none;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    transition-duration: 0.4s;

}

.SubmitTotal:Hover{
	position: relative;
	width: 235px;
	height: 30px;
	background: #035E7B;
	color: white;
}


/* ----------------------- */
/* Fin Contenido columna 2 */
/* ----------------------- */




