
.subMenu {
	position: relative;
	top: 50px;
	margin: 10px;
	color: white;
	text-align: center;
}


/* -------------------------- */
/* Inicio Contenido columna 1 */
/* -------------------------- */
.perfilCliente{	
width: 250px;
margin: auto;
height: 100%;
position: absolute;
}

/* ----------------------- */
/* Fin Contenido columna 1 */
/* ----------------------- */

/* -------------------------- */
/* Inicio Contenido columna 2 */
/* -------------------------- */

.listaFactura {
	width: 850px;
	margin: auto;
	text-align: center;
}

.ModificarDatos{
	margin: auto;
	height: 250px;
	width: 900px;
	position: relative;
    left:10px;
    overflow:auto;

}

.ModificarDatos2{
 
	margin: auto;
	height: 200px;
	width: 900px;
	position: relative;
    left:10px;
    overflow:auto;
}
.columna2 h2{
    margin-left:40px;
	text-align: left;
}

.columna2 img{
	height: 30px;
}

.listaFactura th{
	background: #4A4E69;
	color: white;
	height: 30px;

}

.listaFactura td{
	background: white;
	color: #035E7B;
	height: 30px;
}


/* ----------------------- */
/* Fin Contenido columna 2 */
/* ----------------------- */
