

.tabla{
	
	height: 70px;
	width: 780px;
    margin:auto;
	position: relative;
	top: 50px;
	text-align: center;
}

.tabla th{
	background: white;
	color :black;
	height: 30px;
}

.ModificarDatos2{
	margin: auto;
	top: 30px;
	width: 800px;
	position: relative;
	
}

.Casilla2-2 {
	float: left;
	margin: 10px;
	top: 10px;	
    height:30px;
    width:170px;
}

.Casilla2-1 {
	float: right;
	margin: 5px;
	position: relative;
	right: 115px;
	top: 100px;	
}

.CasillaPersona{
	position: relative;
	width: 250px;
	height: 25px;

    background: none;
	color: white;
 	border: none;
    border-bottom: 2px solid white;
}

.CasillaPersona2{
	position: relative;
	width: 80px;
	height: 23px;
    
}

.droplist {
	position: relative;
	width: 230px;
	height: 30px;
	float: left;

   background: none;
	color: white;
	border: none;
	 border-bottom: 2px solid white;
}

.SubmitTotal{
    top:12px;
    right:90px;
    position:relative;
	width: 300px;
	height: 30px;
    background: none;
    color: white;
    border: 2px solid #ffa500;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.selectO {
    
	width: 170px;
	height: 25px;

}

.SubmitTotal2{

    top:12px;
    position:relative;
	width: 730px;
	height: 30px;
    background: none;
    color: white;
    border: 2px solid #ffa500;
    border-radius: 8px;
    transition-duration: 0.4s;

}

.SubmitTotal2:Hover{

    top:12px;
    position:relative;
	width: 730px;
	height: 30px;
    background: none;
    color: white;
    border: 2px solid #f26419;
    border-radius: 8px;
    transition-duration: 0.4s;

}

.SubmitTotal:Hover{
    top:12px;
    right:90px;
    position:relative;
	width: 300px;
	height: 30px;

    background: none;
    color: white;
    border: 2px solid #f26419;
    border-radius: 8px;
    transition-duration: 0.4s;
}


/* ----------------------- */
/* Fin Contenido columna 2 */
/* ----------------------- */




