
.subMenu {
	position: relative;
	top: 50px;
	margin: 10px;
	color: white;
	text-align: center;
}


/* -------------------------- */
/* Inicio Contenido columna 1 */
/* -------------------------- */
.perfilCliente{	
width: 250px;
margin: auto;
height: 100%;
position: absolute;
}

/* ----------------------- */
/* Fin Contenido columna 1 */
/* ----------------------- */

/* -------------------------- */
/* Inicio Contenido columna 2 */
/* -------------------------- */

.listaFactura {
	width: 850px;
	margin: auto;
	text-align: center;
}

.listaFactura2 {
	width: 850px;
	margin: auto;
	text-align: center;
}

.ModificarDatos{
	margin: auto;
	height: 250px;
	width: 900px;
	position: relative;
    left:10px;
    overflow:auto;

}

.ModificarDatos2{
 
	margin: auto;
	height: 200px;
	width: 900px;
	position: relative;
    left:10px;
    overflow:auto;
}

.ModificarDatos13{
 
	margin: auto;
	height: 200px;
	width: 900px;
	position: relative;
    left:10px;
    overflow:auto;
}

.ModificarDatos32{
   top:30px;
	margin: auto;
	height: 200px;
	width: 900px;
	position: relative;
    left:10px;
    overflow:auto;
}
.columna2 h2{
    margin-left:40px;
	text-align: left;
    color: white;
}



.columna2 img{
	height: 30px;
}

.listaFactura th{
	background: #E65633;
	color: white;
	height: 30px;

}

.listaFactura td{
	background: white;
	color: #E65633;
	height: 30px;
}

.listaFacturaSeleccion td{
	background: #D6916F;
	color: white;
	height: 30px;
}

.listaFactura2 th{
	background: #4A4E69;
	color: white;
	height: 30px;

}

.listaFactura2 td{
	background: white;
	color: #4A4E69;
	height: 30px;
}

.listaFacturaSeleccion2 td{
	background: #048BA8;
	color: white;
	height: 30px;
}

/* ----------------------- */
/* Fin Contenido columna 2 */
/* ----------------------- */


.listaFactura97 {
	width: 850px;
	margin: auto;
	text-align: center;
}

.listaFactura97 th{
	background: #808A9F;
	color: white;
	height: 30px;

}

.listaFactura97 td{
	background: white;
	color: #808A9F;
	height: 30px;
}